<br>
<div><h3 id="titulo"> Principal </h3>
<p id="leyenda">Resumen de desempeño</p>
   


<br>



<mat-expansion-panel id="expa" [expanded]="true">
    <mat-expansion-panel-header id="head-expa">
        <i class="material-icons">av_timer</i>
        <b>Panel de control
        </b>
    </mat-expansion-panel-header>

    <div class="panel-layout" id="cards">
        <form class="container-fluid">
            <div class="row">

                <div class="col-lg-3" id="card-1">
                    <mat-card class="card">
                        <mat-card-title class="card-tlt">N° de Soluciones</mat-card-title>
                        <mat-card-content id="cont">
                            <label class="int">0</label>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="card-tlt">
                                <h6>(fecha actual)</h6>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-lg-3" id="card-2">
                    <mat-card class="card">
                        <mat-card-title class="card-tlt">N° de Clientes</mat-card-title>
                        <mat-card-content id="cont">
                            <label class="int">0</label>




                        </mat-card-content>
                        <mat-card-actions>
                            <div class="card-tlt">
                                <h6>(fecha actual)</h6>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>


                <div class="col-lg-3" id="card-3">

                    <mat-card class="card">
                        <mat-card-title class="card-tlt">N° de Clientes</mat-card-title>
                        <mat-card-content id="cont">
                            <label class="int">0</label>




                        </mat-card-content>
                        <mat-card-actions>
                            <div class="card-tlt">
                                <h6>(fecha actual)</h6>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-lg-2" id="card-4">


                    <mat-card class="card">
                        <mat-card-title class="card-tlt">N° de Clientes</mat-card-title>
                        <mat-card-content id="cont">
                            <label class="int">0</label>




                        </mat-card-content>
                        <mat-card-actions>
                            <div class="card-tlt">
                                <h6>(fecha actual)</h6>
                            </div>
                        </mat-card-actions>
                    </mat-card>

                </div>
            </div>
        </form>

    </div>
</mat-expansion-panel>

    <mat-expansion-panel id="expa" [expanded]="true">


        <!-- header expansion panel -->
        <mat-expansion-panel-header>
            <i class="material-icons">find_replace</i>
            <b>Opciones de busqueda</b>
        </mat-expansion-panel-header>


        <!-- contenido dentro del expansion panel -->
        <form class="container-fluid ">


        </form>
    </mat-expansion-panel>




<mat-expansion-panel id="expa" [expanded]="true">
    <mat-expansion-panel-header id="head-expa">
        <i class="material-icons">view_list</i>
        <b>Soluciones</b>
    </mat-expansion-panel-header>

    <form id="formulario">
        <br>
        <div class="table-responsive">
            <table class="table table-hover  table-white  " id="table">
                <thead>
                    <tr>
                        <th scope="col">Solucion</th>
                        <th scope="col">Rut Asegurado</th>
                        <th scope="col">Asegurado</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Ejecutivo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Forma Pago</th>
                        <th scope="col">Propuesta</th>
                        <th scope="col">Estado Propuesta</th>
                    </tr>
                </thead>
                <tbody>



                </tbody>
            </table>
        </div>
    </form>
</mat-expansion-panel>

<footer class="container-fluid">
    ..


</footer>