<h6 class="text-center" style="color: rgba(0, 0, 0, 0.54);" id="titulo"> Mis Datos</h6>
<div class="cont">
    <hr >

    <form class="form-inline" id="frm">
        <div class="container-row">
            <div>
                <mat-hint align="center" class="hint">
                    <strong>Rut Empresa</strong>
                </mat-hint>
            </div>
            <input class="form-control form-control-sm col-lg-12" type="text" readonly placeholder="777777878-9">
        </div>

        <div class="container-row" class="n-eje">
            <div>
                <mat-hint align="center" class="hint">
                    <strong>Nombre Empresa</strong>
                </mat-hint>
            </div>
            <input class="form-control form-control-sm col-lg-12" type="text" readonly placeholder="Exynko">

        </div>


    </form>
    <br>


    <form class="form-inline" id="frml">
        <div class="container-row">

            <div>
                <mat-hint align="center" class="hint">
                    <strong>Rut Ejecutivo</strong>
                </mat-hint>
            </div>
            <input class="form-control form-control-sm col-lg-12" type="text" readonly placeholder="12345678-9">


        </div>

        <div class="container-row" class="n-eje">

            <div>
                <mat-hint align="center" class="hint">
                    <strong>Nombre Ejecutivo</strong>
                </mat-hint>
            </div>
            <input class="form-control form-control-sm col-lg-12" type="text" readonly placeholder="Sebastian">

        </div>


    </form>
    <br>

    <form class="form-inline">
        <div class="container-row">
            <div>
                <mat-hint align="center" class="hint">
                    <strong>Email</strong>
                </mat-hint>
            </div>
            <input class="form-control form-control-sm col-lg-12" type="text" readonly placeholder="algo@gmail.com">


        </div>

        <div class="container-row" class="n-eje">

            <div>
                <mat-hint align="center" class="hint">
                    <strong>Celular</strong>
                </mat-hint>
            </div>
            <input class="form-control form-control-sm col-lg-12" type="text" readonly placeholder="1234567898">

        </div>


    </form>
    <br>


    <form class="form-inline">
        <div class="container-row">
            <div>
                <mat-hint align="center" class="hint">
                    <strong>Grupo Venta</strong>
                </mat-hint>
            </div>
            <input class="form-control form-control-sm col-lg-12" type="text" readonly placeholder="PentaVida">


        </div>

        <div class="container-row" class="n-eje">

            <div>
                <mat-hint align="center" class="hint">
                    <strong>Jefe Directo</strong>
                </mat-hint>
            </div>
            <input class="form-control form-control-sm col-lg-12" type="text" readonly placeholder="Fabian Beas">

        </div>


    </form>

    <div class="btn-aceptar">

        <button type="submit" class="btn btn-warning" mat-dialog-close id="btn-acept">Aceptar</button>
    </div>
</div>